.row{
    display: flex;
}
.col {
    flex: 1;
    background-color: darkcyan;
    /* Add padding to the columns to have the text centered in the columns and make the columns have a greater height. */
    margin: 10px;
    padding: 10px;
    color: white;
}
.col-2 {
    flex: 2;
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    color: white;
}
.col-3 {
    flex: 3;
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    color: white;
}